<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.MaryKayConnectionString" connectionString="Data Source=DESKTOP-SCD19MS\SQLEXPRESS;Initial Catalog=MaryKay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>